.containerColour {
                max-width: 685px;
                margin: 0px auto;
                padding: 15px 45px;
                border-style: solid;
                border-radius: 15px;
               background-image:url("src/snow.gif");
                background-size: 100%;
                background-size: cover;
                background-blend-mode: luminosity;
                height: 70vh;
                font-family: "Josefin Sans", sans-serif;
            }
body {
                margin: 70px auto;
                padding: 0px auto;
                background-color: white;
                text-align: center;
            }

p {
                text-align: left;
            }
        
            h1 {
                text-align: center;
                font-family: "Josefin Sans", sans-serif;
                margin: 15px;
                padding:0;
                font-weight: 600;
                font-size: 36px;
                color: black;
            }
        
            h3,
            h4 {
                text-align: left;
                font-family: "Josefin Sans", sans-serif;
                margin: 5px auto;
                padding: 5px auto;
                font-size: 18px;
                color: black;
                text-transform: capitalize;
            }
        
            img {
                position: relative;
                right: 8px;
            }
        
            small {
                font-family: "Josefin Sans", sans-serif;
                font-weight: bolder;
                margin: 400px;
                color: black;
            }
        
            a {
                color: blue;
                background-color: transparent;
                text-decoration: none;
            }
        
            a:hover {
                color: green;
            }
        
            ::placeholder {
                /* Firefox */
                color: orangered;
                opacity: 1;
                text-align: center;
                font-size: 16px;
            }
        
            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: orangered;
                text-align: center;
                font-size: 16px;
            }
        
            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: orangered;
                text-align: center;
                font-size: 16px;
            }
        
            h3 strong {
                font-size: 50px;
                font-weight: 300;
            }
        
            .units {
                position: relative;
                font-size: 16px;
            }
            .unit {
                position: relative;
                font-size: 16px;
                top: -20px;
            }
            .line {
                position: relative;
                font-size: 16px;
                top: -20px;
            }
            
            a {
                text-decoration: none;
            }
            
            former {
               font-family: "Josefin Sans", sans-serif; 
            }
      
        h2 {
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
            font-size: 20px;
            margin:0;
            padding:0;
        }
        ul {
            list-style: none;
            margin-bottom: 1.5px;
        }
