.containerColour {
  max-width: 725px;
  margin: 0 auto;
  padding: 15px 60px;
  border-style: solid;
  border-radius: 15px;
}
body {
  margin: 40px auto;
  background-image:url("src/snow.gif");
  background-size:100%;
  background-size: cover; 
  height: 100vh;
  padding:0;
  background-color: #083836;
}
h1 {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  margin: 16px auto;
  padding: 0%;
  font-weight: 600;
  font-size: 27px;
  color: white;
}

h3,
h4 {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  margin: 16px auto;
  padding: 0%;
  font-size: 16px;
  color: white;
}

img {
  position: relative;
  right: 8px;
}
small {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  margin: 275px;
  color: black;
}
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
}

ul {
  list-style: none;
  padding: 25px 145px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
::placeholder {
  /* Firefox */
  color: white;
  opacity: 1;
  text-align: center;
  font-size: 25px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  text-align: center;
  font-size: 25px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  text-align: center;
  font-size: 25px;
}
h3 strong {
  font-size: 30px;
  font-weight: 300;
}
.units {
  position: relative;
  font-size: 14px;
  top: -10px;
}

.search-box {
  position: absolute;
  transform: translate(-50%, -50%);
  background: transparent;
  height: 40px;
  border-radius: 35px;
  padding: 10px;
}
.search-box-location {
  position: fixed;
  transform: translate(-50%, -50%);
  background: transparent;
  height: 40px;
  border-radius: 35px;
  padding: 10px;
}
.search-btn {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: none;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn-location {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: none;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}

.search-txt {
  border: none;
  outline: none;
  background: none;
  padding: 0 auto;
  background-position: center;
  color: navy;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 25px;
}
.search-txt-app {
  border: none;
  outline: none;
  background: none;
  padding: 0 auto;
  background-position: center;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.search-box-location:hover > .search-txt-app {
  width: 175px;
  padding: 0 6px;
}
